 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
/* // Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
} */
.x{}

.appear {
  display:block;
}
.hide {
  display: none;
}



@mixin boxes {
  width: 450px;
  border-top: 100px solid #CECFCA;
  border: 1px solid #CECFCA;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 200px;
  font-family: Helvetica, Arial;
  font-size: 11pt;
}

  @mixin headers {
  width: 450px;
  border: 1px solid #CECFCA;
  border-radius: 7px;
  font-family: Serif;
  font-size: 25pt;
  text-align: center;
  margin-left: 200px;
  background-color: #CECFCA;
  }
  $borders: #CECFCA;

h2 {
  @include headers;
}

  .box1 {
  @include boxes;
  }

  .box2 {
  @include boxes;
    }

  .box3 {
  @include boxes;
  }
