 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
/* // Custom Styles */
.x {
  width: 450px;
  background: url(../images/hipster.jpg);
  background-size: 450px 500px;
  background-repeat: no-repeat;
  margin-left: 200px;

  /* padding-left: margin 200px; */
}

.appear {
  display:block;
}
.hide {
  display: none;
}

@mixin boxes {
  width: 450px;
  margin-top: 10px;
  font-family: Helvetica, Arial;
  font-size: 11pt;
  color: orange;
}

  @mixin headers {
  width: 450px;
  border: 1px solid $borders;
  border-radius: 7px;
  font-family: Serif;
  font-size: 25pt;
  text-align: center;
  /* margin-left: 200px; */
  background-color: $borders;
  }
  $borders: #CECFCA;

h2 {
  @include headers;
}

  .box1 {
  @include boxes;
  }

  .box2 {
  @include boxes;
    }

  .box3 {
  @include boxes;
  }
